.form {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    gap: 0.5rem;

    & > input {
        width: 100%;
        padding-left: 1rem;
        border: 2px solid green;
        background-color: #9999;
        color: #eee;
        border-radius: inherit;
        outline: none;

        &::placeholder {
            color: #222;
        }
    }

    & > button {
        width: 20%;
        border: 2px solid green;
        border-radius: inherit;
        font-weight: bold;
        background-color: #222;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #1b1b1b;
        }
    }
}
